@import url('https://fonts.googleapis.com/css?family=Lato');

* {
	text-align: center;
}

body {
	background-color: #12b9e8;
	font-family: 'Lato', sans-serif;
}

.tweet, .trigger {
	display: inline-block;
	border-style: none;
	cursor: pointer;
	font-size: 20px;
	line-height: 35px;
	background-color: #fff;
	margin: 10px;
	transition: 0.3s;
	color: #fff;
	background-color: #00C7E8;
	text-decoration: none:;
}
